* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.container {
  position: relative;
  width: 450px;
  height: 650px;
  padding: 40px;
  margin: 20px;
  border-radius: 30px;
  background-color: #78b6ff;
  box-shadow: 0 0 20px 1px #bfa8bc;
  z-index: 0;
}

.container__wrapper {
  position: relative;
  top: 20%;
  z-index: 1;
}

.registration-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.registration-input {
  border: none;
  border-radius: 30px;
  width: 310px;
  height: 50px;
  padding-left: 20px;
}

.field1 {
  margin-bottom: 35px;
}

.field1 #field-name {
  margin-bottom: 10px;
}

.field2 #field-name {
  margin-bottom: 10px;
}

.registration-form .forgot {
  position: absolute;
  top: 65%;
  right: 45px;
  text-align: right;
  font-size: 12px;
  color: #636363;
}

.login-button {
  width: 310px;
  height: 50px;
  background-color: #5195fa;
  border: none;
  border-radius: 30px;
  margin-top: 55px;
}

.cancel-div {
  position: absolute;
  top: 50px;
  right: 80px;
}

.cancel-button {
  background-color: #78b6ff;
  border: none;
  border-radius: 50%;
}

.cancel-icon {
  width: 20px;
  height: 20px;
}