* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
}

.container {
  position: relative;
  width: 450px;
  height: 650px;
  padding: 40px;
  margin: 20px;
  border-radius: 30px;
  background: linear-gradient(#78B6FF,#E3F6FE);
  box-shadow: 0 0 20px 1px #bfa8bc;
  transition: all .5s;
}

.search-box {
  position: relative;
  display: flex;
  gap: 15px;
  color: #000000;
}

.search-box input {
    padding: 10px 20px;
    width: 90%;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;

}

input::placeholder {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  color: #878787
}

input:focus-visible {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    color:#000000ba;
}

.search-bar .search {
    font-size: 28px;
    color: #000000;
}
button {
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #fff;
}
.image-button {
  background-image: url('./image/search\ button.png');
  background-size: cover;
}

.weather-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
    transition: all .2s;
}

.weather-icon img {
    width: 190px;
}

.current-temp {
  display: flex;
  font-size: 60px;
  line-height:105px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.city {
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    gap: 2px;
    text-transform: uppercase;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px 24px;
}
.weather-details .item {
display: flex;
gap: 10px;
font-size: 12px;
font-weight: 400;
}

.weather-details .item .icon {
width: auto;
}

.weather-details .item .value {
font-size: 20px;
font-weight: 500;
}

.error-box {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  overflow: hidden;
  transition: all .2s ease-out;
}

.error-message {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  letter-spacing: 2px;
}