* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
  height: 50px;
  overflow: hidden;
}

.follow {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: #231f01;
  padding: 13px 13px;
}

.follow-wrap {
  width: 150px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
}

.follow-button {
  width: 50px;
  height: 50px;
  background-color: #5195fa;
  position: absolute;
  transition: .5s ease;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.follow-message {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: #ffffff;
  line-height: 0;
  padding-left: 30px;
}

.follow img {
  height: 25px;
  width: 25px;
}

.follow:hover + .follow-button {
  position: absolute;
  display: block;
  margin: 0;
  width: 175px;
  transition:.3s;
  border-radius: 100px;
  top: 0;
}

.theme {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  background-color: #231f01;
  padding: 13px 13px;
}

.theme img {
  height: 25px;
  width: 25px;
}

.registration {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  position: relative;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;  
}

.registration-button {
  width: 50px;
  height: 50px;
  background-color: #5195fa;
  position: absolute;
  transition: .5s ease;
  right: 0;
}

.user-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #231f01;
  padding: 13px 13px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.user-icon:hover + .registration-button {
  position: absolute;
  display: block;
  margin: 0;
  width: 175px;
  transition:.3s;
  border-radius: 100px;
}

.user-icon img {
  height: 20px;
  width: 20px;
}

.registration-message {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  color: #ffffff;
  line-height: 0;
  padding-right: 35px;
}


.container {
  position: relative;
  width: 450px;
  height: 128px;
  padding: 40px;
  margin: 20px;
  border-radius: 30px;
  background: #caf6e5;
  box-shadow: 0 0 20px 1px #bfa8bc;
  transition: all .5s;
  z-index: 0;
}

.gradient-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

.container__wrapper {
  position: relative;
  z-index: 1;
}

.container.fog {
  background: linear-gradient(to left top, #8299c4, #92c9aa);
}

.container.fog::after {
  background: linear-gradient(to right bottom, #8299c4, #92c9aa);
}

@keyframes my-animation {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes draw {
  from{
    background-position:-35px 0;
  }
  to{
    background-position:105% 0;
  }
}

.search-box {
  position: relative;
  display: flex;
  gap: 15px;
  color: #000000;
}

.search-box input {
    padding: 10px 20px;
    width: 90%;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    color: #000000;

}

input::placeholder {
  text-transform: lowercase;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  color: #878787
}

input:focus-visible {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
    color:#000000ba;
}

.search-bar .search {
    font-size: 28px;
    color: #000000;
}
button {
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: #fff;
}
.image-button {
  background-image: url('../image/search-button.png');
  background-size: cover;
}

.weather-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    overflow: hidden;
    transition: all .2s;
}

.weather-icon img {
    width: 190px;
}

.current-temp {
  display: flex;
  font-size: 60px;
  line-height:105px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.description {
  font-size: 20px;
  font-weight: 500;
}

.city {
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    gap: 2px;
    text-transform: uppercase;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px 24px;
}
.weather-details .item {
display: flex;
gap: 10px;
font-size: 12px;
font-weight: 400;
}

.weather-details .item .icon {
width: auto;
}

.weather-details .item .value {
font-size: 20px;
font-weight: 500;
}

.error-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  overflow: hidden;
  transition: all .2s ease-out;
}

.error-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background-color: #fff;
  border-radius: 20px;
  padding: 24px 24px;
}

.error-message {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}