

.error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    overflow: hidden;
    transition: all .2s ease-out;
  }
  
  .error-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 20px;
    padding: 24px 24px;
  }
  
  .error-message {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
  }